[kjs-role="controlling-checkbox-label"] {
  color: #00b7bd;
}

[kjs-role="checkbox-controller"] {
  display: flex;
  border-bottom: 1px solid #b5d4d6;
  padding-bottom: 4px;
}

[kjs-role="checkbox-item"] {
  display: flex;
}
